apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc-{{ name_space }}
  namespace: {{ name_space }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ postgres_storage }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-{{ name_space }}
  namespace: {{ name_space }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:{{ postgres_version }}
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets-{{ name_space }}
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets-{{ name_space }}
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: postgres-secrets-{{ name_space }}
              key: POSTGRES_DB
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc-{{ name_space }}

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service-{{ name_space }}
  namespace: {{ name_space }}
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
